<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" />

  </head>
  <body>
		<div class="jumbotron">
			<h1 class="display-4">A CSV WebApp</h1>
			<p class="lead">This is a simple application to upload, preview, summarize, and download CSV files.</p>
		</div> 


    <div id="app" >
      <form id="upload_form" enctype="multipart/form-data">
				
				<div class="form-group" >


					<label>Upload a CSV</label>
					<br/>
					<div>
						<div class="custom-file" style="width:80%;float:left">
							<input v-on:change="updateFile" name="file" class="custom-file-input"  type="file" id="customFile" />
							<label v-bind:value="upload_file" class="custom-file-label" for="customFile">[[upload_file==null?"Choose file.":upload_file]]</label>
						</div>
						<div style="width=20%;float:left;margin-left:20px;">
							<button class="btn btn-secondary" v-on:click="uploadHandler" v-on:click.prevent >Upload</button>
						</div>
						<div style="clear:both;padding-top:20px">
							<progress style="width:80%"></progress>
						</div>
					</div>
				</div>

				<hr/>
        <div class="form-group">

					<label>Select a file to analyze</label>
          <select  v-model="selected_file" class="form-control"  id="file_list">
						<option disabled value="">Please select one</option>
            <option v-for="file in files"  v-bind:value="file">[[ file ]]</option>
          </select>
        </div>
        <div class="btn-group" role="group">
          <button class="btn btn-secondary" v-on:click="handlePreview" v-on:click.prevent >Preview</button>
          <button class="btn btn-secondary" v-on:click="handleDownload" v-on:click.prevent >Download</button>
          <button class="btn btn-secondary" v-on:click="handleStats" v-on:click.prevent >Stats</button>
        </div>
      </form>
			<br/>
			<br/>

			<div v-if="loading">
				 <span>Loading... </span>
			</div>	

			<div id="csv_preview">
			</div>

    </div>
  </body>
  <script src="/static/js/build.js" ></script>
  <script> const mountApp = app.mount('#app'); </script>

</html>
