<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  </head>
  <body>
    <div id="app" >
      <form>
        <select id="file_list" size="10" >
          <option v-for="file in files">[[ file ]]</option>
        </select>
      </form>

      <form id="upload_form" enctype="multipart/form-data">
          <input name="file" type="file" />
          <input type="button" value="Upload" />
      </form>
      <progress></progress>
    </div>
  </body>
  <script src="/static/js/build.js" ></script>
  <script> const mountApp = app.mount('#app'); </script>
</html>
